* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #fff4ca;
  background-image: url("..\\res\\background.svg");
  background-size: 128px;
  color: #3b280d;
  line-height: 1.5;
}

.block-s {
  width: 60vw;
  min-width: 480px;
}

.block-centered {
  margin: auto;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.text-shadow {
  text-shadow: -2px 1px 4px rgba(91, 60, 17, 0.5);
}

.box-shadow {
  box-shadow: -2px 2px 4px rgba(91, 60, 17, 0.5);
}

.add-margin-tb {
  margin-top: 24px;
  margin-bottom: 24px;
}

.add-margin-lr {
  margin-left: 24px;
  margin-right: 24px;
}

.add-margin-b {
  margin-bottom: 24px;
}

.add-padding {
  padding: 24px 43px;
}

.add-padding-tb {
  padding-top: 24px;
  padding-bottom: 24px;
}

.add-padding-lr {
  padding-left: 43px;
  padding-right: 43px;
}

.text-blue {
  color: #364285;
}

.text-centered {
  text-align: center;
}

.bg-sandy {
  background-color: #ecd282;
}

.bg-lighter-sandy {
  background-color: #f2dfa0;
}

.border-bottom {
  border-bottom: 2px solid #8d6e43;
}

.border-top {
  border-top: 2px solid #8d6e43;
}

.standart-border {
  border: 2px solid #8d6e43;
}

.border-radius {
  border-radius: 5px;
}

.bald {
  font-weight: bold;
}

.balder {
  font-weight: bolder;
}

.image-ss {
  width: 100%;
  vertical-align: middle;
}

.frame {
  padding: 8px;
  border: 2px solid #8d6e43;
  background-color: #f2dfa0;
  border-radius: 5px;
}

.add-small-margin-t {
  margin-top: 8px;
}

.standart-width {
  width: 70%;
  max-width: 1024px; 
  min-width: 360px;
}

iframe {
  width: 768px;
  height: 432px;
  max-width: 100%;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

p {
  font-size: 1.1rem;
  text-align: justify;
  margin-bottom: 12px;
}

a {
  color: #5f31aa;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #4d3ed4;
  text-decoration: underline;
}